@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BwDariusDEMO-Light';
  src: url('../src/fonts/BwDariusDEMO-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik-Medium-Trial';
  src: url('../src/fonts/Graphik-Medium-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik-Extralight-Trial';
  src: url('../src/fonts/Graphik-Extralight-Trial.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
